* {
    font-family: 'Grandstander', cursive;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {    
    background-image: linear-gradient(236deg, #74ebd5, #acb6e5);
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: 'Grandstander';
    font-size: 4rem;
    margin-bottom: 20px;
    margin-top: 20px;
}

h2 {
    font-family: 'Quicksand';
    font-size: 2rem;
    padding-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    height: auto;
}

.button-div {
    text-align: center;
    margin-bottom: 20px;
}

.btn {
    padding: 15px;
    font-size: 20px;
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 9px #999;
}

.btn:hover {background-color: #74ebd5}

.btn:active {
    background-color: #74ebd5;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.display {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 50px;
    box-shadow: 12px 7px 90px 0 rgba(110,123,131,.3);
    background: #e6ebe7;
    border: solid black 2px;
    margin-bottom: 30px;
    border-radius: 5px;
}

#displayContent {
    font-size: 20px;
    font-weight: 600;
}

#board {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    height: 450px;
    margin-bottom: 30px;
    
}

.square {
    border: 2px solid black;
    height: 150px;
    width: 150px;
    background: #f1f4f1;
    cursor: pointer;
    text-align: center;
}

.x::after {
    content: 'X';
    font-size: 100px;
    color: red;
}

.o::after {
    content: 'O';
    font-size: 100px;
    color: green;
}